<div class="content-editor" *ngIf="manufacturer">
  <mat-toolbar>
    <span *ngIf="manufacturer.name === ''">New Property</span>
    <span *ngIf="manufacturer.name !== ''">{{manufacturer.name}}</span>
  </mat-toolbar>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column wrap">


      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fill Manufacturer Name</mat-label>
        <input matInput placeholder="Manufacturer Name" formControlName="manufacturerName"
               [(ngModel)]="manufacturer.name">
      </mat-form-field>

      <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="50%">

          <h3>Groups</h3>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Product Group</mat-label>
            <input matInput formControlName="productGroups" [matAutocomplete]="auto" #selectedGroup>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let group of manufacturer.productGroups" [value]="group.name">
                {{group.name}}
              </mat-option>
            </mat-autocomplete>
            <button type="button" mat-button mat-icon-button matSuffix (click)="addProductGroup(selectedGroup.value)"
                    *ngIf="selectedGroup.value">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
          <div *ngFor="let productGroup of manufacturer.productGroups">
            {{productGroup.name}}
          </div>
        </div>
        <div fxFlex="50%">
          <h3>Properties</h3>
          <div *ngFor="let property of properties">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Fill property {{property.name}} value</mat-label>
              <input matInput placeholder="Property {{property.name}} value"
                     formControlName="manufacturer.properties.property.{{property.token}}"
                     [(ngModel)]="property.value">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <button type="submit" mat-raised-button mat-button color="primary" [disabled]="form.invalid">Save</button>
        <button type="button" mat-raised-button mat-button style="margin-left: 20px" (click)="onCancel()">Cancel
        </button>
      </div>
    </form>
  </mat-card>
</div>
