<div *ngIf="username" class="content-body">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="isMenuOpened = !isMenuOpened">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>
    <a routerLink="/" class="logo"></a>
    <span class="toolbar-spacer"></span>

    <button mat-icon-button color="white" [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item [routerLink]="['', {outlets: {primary: ['change-password']}}]">
        <mat-icon>settings</mat-icon>
        <span>Change Password</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="ngLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-drawer-container [hasBackdrop]="true" autosize class="navigation-container">
    <mat-drawer #drawer mode="over" [(opened)]="isEditorOpened" position="end" class="editor-drawer">
      <router-outlet name="editor"></router-outlet>
    </mat-drawer>
    <mat-drawer-content>

      <mat-sidenav-container role="navigation" autosize class="navigation-container">
        <mat-sidenav #sidenav [(opened)]="isMenuOpened" mode="side" [fixedInViewport]="true" [fixedTopGap]="64">
          <mat-nav-list role="navigation">
            <div *ngFor="let menuGroup of menu">
              <div *ngIf="menuGroup.groupName !== ''">
                <mat-expansion-panel [class.mat-elevation-z0]="true">
                  <mat-expansion-panel-header>
                    {{menuGroup.groupName}}
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <mat-list-item *ngFor="let menuItem of menuGroup.items"
                      [routerLink]="['', {outlets: {primary: [ menuGroup.outletLink, menuItem.outletLink]}}]">
                      <a matLine> {{menuItem.name}} </a>
                    </mat-list-item>
                  </mat-nav-list>
                </mat-expansion-panel>
                <mat-divider></mat-divider>
              </div>
              <div *ngIf="menuGroup.groupName === ''">
                <mat-list-item *ngFor="let menuItem of menuGroup.items"
                  [routerLink]="['', {outlets: {primary: [menuItem.outletLink]}}]">
                  <a matLine> {{menuItem.name}} </a>
                </mat-list-item>
              </div>
            </div>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
