<div class="body">
  <div class="login">
    <img class="logo" src="../assets/brand/rost-solutions.svg" alt="" width="100%">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="currentPassword">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" formControlName="confirmNewPassword">
      </mat-form-field>
      <br>
      <button type="submit" class="full-width" mat-raised-button mat-button color="primary"
              [disabled]="form.invalid">Change Password
      </button>
    </form>
  </div>
</div>
